.sliderComponent {
    float: left;
    display: inline-block;
    margin-top: -100px;
}

.rangeSlider {
    position: relative;
}

.sliderValue {
    position: relative;
    font-family: 'Courier';
    font-size: 15px;
}

.sliderLabel {
    position: relative;
    font-family: 'Courier';
    font-size: 15px;
}

