.sliderComponent {
    padding: 20px;
    float: left;
    display: inline-block;
}

.rangeSlider {
    position: relative;
}

.sliderValue {
    position: relative;
    font-family: 'Courier';
    font-size: 15px;
}

.sliderLabel {
    position: relative;
    font-family: 'Courier';
    font-size: 15px;
}

